




mat-paginator {
    margin: 16px auto;
    display: flex;
    justify-content: center;
}


/* Styling the movie card with Material Design */
.movieCard {
    height: 550px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s ease-in-out;
}

.movieCard:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.movieImg {
    height: 100%;
}

.movieImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* Make sure the image covers the container area */
}

.ratingSec {
    background-color: #00101d;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.movieName mat-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overviewSec {
    background-color: #fff;
    padding: 1rem;
    position: absolute;
    top: 125%;
    left: 0;
    right: 0;
    height: 70%;
    transition: all .4s ease-in-out;
}

.overviewSec p {
    overflow-y: scroll;
    width: 100%;
    height: 60%;
}

.movieCard:hover .overviewSec {
    top: 30%;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
}


.go-to-page {
    margin-top: 10px;
}

.go-to-page input {
    width: 70px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
}

