<mat-toolbar class="d-flex justify-content-between" color="primary" >
    <div class="logo">
        <img src="../assets/img/tmdbLogo.png" alt="logo" title="logo">
    </div>
    <div>
        <button class="btn-grad" mat-raised-button  routerLink="home">All Movie</button>
    </div>
</mat-toolbar>
<div class="container">
    <div *ngIf="isLoading | async" class="overlay">
        <mat-progress-spinner
          color="primary"
          mode="indeterminate"
          diameter="50"
        ></mat-progress-spinner>
      </div>
</div>

<router-outlet></router-outlet>