<mat-toolbar color="primary">
    <div class="logo"> <img
            src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
            alt="Logo" /></div>

</mat-toolbar>


<div class="container">
    <div class="row mt-4">
        <div class="col-md-4 col-sm-6" *ngFor="let movie of moviesArr">
            <div class="card mt-4">
                <mat-card class="movieCard mb-0">
                    <div class="movieImg">
                        <img [src]="'https://media.themoviedb.org/t/p/w220_and_h330_face' + movie.poster_path"
                            [alt]="movie.title" [title]="movie.title">
                    </div>
                    <mat-card-header>
                        <div class="ratingSec text-white">
                            <div class="row">
                                <div class="col-md-9 col-sm-6">
                                    <div class="movieName">
                                        <mat-card-title>{{movie.title}}</mat-card-title>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 d-flex justify-content-center align-items-center">
                                    <div class="rating">
                                        <!-- <p style="border-radius: 5px;" class="m-0 p-1" [ngClass]="{
                                          'bg-success': +movie.vote_average >=7,
                                          'bg-warning': +movie.vote_average >= 4 && +movie.vote_average <= 6,
                                          'bg-danger': +movie.vote_average >= 1 && +movie.vote_average < 4
                                        }">{{ movie.vote_average | absolute }}</p> -->
                                        <p *ngIf="movie.vote_average >= 7" class="bg-success m-0 p-1"
                                            style="border-radius: 5px;">{{ movie.vote_average | absolute }}</p>
                                        <p *ngIf="movie.vote_average >= 4 && movie.vote_average < 7"
                                            class="bg-warning m-0 p-1" style="border-radius: 5px;">{{ movie.vote_average
                                            | absolute }}</p>
                                        <p *ngIf="movie.vote_average < 4" class="bg-danger m-0 p-1"
                                            style="border-radius: 5px;">{{ movie.vote_average | absolute }}</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="overviewSec">
                            <mat-card-title>{{movie.title}}</mat-card-title>
                            <em>Overview</em>
                            <p>{{movie.overview}}</p>
                            <div class="action">
                                <button mat-raised-button color="primary">Edit</button>
                                <button mat-raised-button color="warn">Delete</button>
                            </div>
                        </div>

                    </mat-card-content>

                </mat-card>
            </div>




        </div>
        <div class="col-md-12 mt-2 d-flex justify-content-between align-items-center">
            <div class="go-to-page">
                <label class="mr-1">Go To Page:</label>
                <input type="number" [(ngModel)]="firstPage" min="1" [max]="totalPages" (input)="goToPageInput()"
                    placeholder="Go to page" aria-label="Go to page" />
            </div>
            <mat-paginator [length]="totalPages" [pageSize]="20" [pageSizeOptions]="[20]" aria-label="Select page"
                (page)="goToPage($event)">
            </mat-paginator>
        </div>
    </div>
</div>