mat-toolbar {
  background-color: #032541;
}

.logo {
  display: flex;
  align-items: center;
  height: 20px;
  width: 154px;

  img {
      height: 100%;
      width: 100%;
  }
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); // Semi-transparent background
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Ensure it appears above other content
}