mat-toolbar {
  background-color: #032541;
}

.logo {
  display: flex;
  align-items: center;
  height: 20px;
  width: 154px;

  img {
    height: 100%;
    width: 100%;
  }
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); // Semi-transparent background
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Ensure it appears above other content
}



.btn-grad {
  background-image: linear-gradient(to right, #72c8af 0%, #04b4e3 51%, #72c8af 100%);
  padding: 5px 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #032541 !important;
  border-radius: 10px;
  display: block;
  border: none;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center; /* Moves the gradient on hover */
  color: #fff;
  box-shadow: 0 0 20px #eee;
  text-decoration: none;
}

